@import "./config.scss";

.total{
  background-color: #babec9;
  font-size: large;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: .25rem;
  border: solid 1px #a6aab4;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}